<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CinemateAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CinemateAPI.Properties.Settings>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://cinemate.cc/api/2.0/</value>
            </setting>
            <setting name="AuthUrlPattern" serializeAs="String">
                <value>account/auth/?username={0}&amp;password={1}&amp;format=json</value>
            </setting>
            <setting name="ProfileUrlPattern" serializeAs="String">
                <value>account/profile/?passkey={0}&amp;format=json</value>
            </setting>
            <setting name="UpdateListUrlPattern" serializeAs="String">
                <value>account/updatelist/?passkey={0}&amp;newonly={1}&amp;format=json</value>
            </setting>
            <setting name="WatchListUrlPattern" serializeAs="String">
                <value>account/watchlist/?passkey={0}&amp;format=json</value>
            </setting>
            <setting name="MovieListUrlPart" serializeAs="String">
                <value>movie/list/?format=json</value>
            </setting>
            <setting name="MovieGetUrlPattern" serializeAs="String">
                <value>movie/get/?apikey={0}&amp;id={1}&amp;format=json</value>
            </setting>
            <setting name="PersonGetUrlPattern" serializeAs="String">
                <value>person/get/?apikey={0}&amp;id={1}&amp;format=json</value>
            </setting>
            <setting name="MovieSearchUrlPattern" serializeAs="String">
                <value>movie/search/?term={0}&amp;format=json</value>
            </setting>
            <setting name="PersonSearchUrlPattern" serializeAs="String">
                <value>person/search/?term={0}&amp;format=json</value>
            </setting>
            <setting name="StatsUrl" serializeAs="String">
                <value>stats/new/?format=json</value>
            </setting>
        </CinemateAPI.Properties.Settings>
    </applicationSettings>
</configuration>